*.exe
*.dll
*.lib
*.exp
*.obj
*.res
*.img
*.pdb
*.vcxproj.user
*.log
*.tlog
*.sdf
*.opensdf
*.suo
*.aps
*.htm
*.db
*.opendb
Lisp Worksheet
# HyperSpec
HyperSpec/*
HyperSpec-Legalese.text
HyperSpec-README.text
.vs/*

