<?xml version="1.0" encoding="utf-8"?>
<!--
Created by Artem Boldariev <artem.boldarev@gmail.com>, 2018.
This file is distributed under the terms of CC0 license (Public Domain).

See the 'LICENSE.txt' file for the additional details.
-->
<?include Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <!-- Core product files -->
      <Component Id="cmp_CormanLisp.exe" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLisp_IDE_Executable"
              Source=".\CormanLisp.exe"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_clconsole.exe" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLisp_Console_Executable"
              Source=".\clconsole.exe"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_CormanLisp.img" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLisp_Image"
              Source=".\CormanLisp.img"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_CormanLispServer.dll" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLispServer"
              Source=".\CormanLispServer.dll"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_clconsoleapp.exe" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLispConsoleTemplate"
              Source=".\clconsoleapp.exe"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_clboot.exe" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLispGUITemplate"
              Source=".\clboot.exe"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_clbootapp.exe" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLispGUITemplateStatic"
              Source=".\clbootapp.exe"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_dlltemplate.dll" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLispDLLTemplateStatic"
              Source=".\dlltemplate.dll"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_init.lisp" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLispCoreInit"
              Source=".\init.lisp"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_LICENSE.txt" Guid="*" Win64="$(var.Win64)">
        <File Id="CormanLispLicense"
              Source=".\LICENSE.txt"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_DiStormLicense" Guid="*" Win64="$(var.Win64)">
        <File Id="DistormLicense.txt"
              Source=".\CormanLispServer\distorm\COPYING"
              Name="LICENSE.diStorm.txt"
              KeyPath="yes" />
      </Component>
      <!-- RDNZL Dynamic Library -->
      <Component Id="cmp_RDNZL.dll"
                 Guid="*"
                 Win64="$(var.Win64)">
        <File Id="RDNZL.dll"
              Source=".\RDNZL.dll"
              KeyPath="yes" />
      </Component>
      <!-- OpenSSL -->
      <Component Id="cmp_libssl_1_1.dll"
                 Guid="*"
                 Win64="$(var.Win64)">
        <File Id="libssl_1_1.dll"
              Source=".\libssl-1_1.dll"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_libcrypto_1_1.dll"
                 Guid="*"
                 Win64="$(var.Win64)">
        <File Id="libcrypto_1_1.dll"
              Source=".\libcrypto-1_1.dll"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_LICENSE.OpenSSL.txt" Guid="*" Win64="$(var.Win64)">
        <File Id="OpenSSL_License"
              Source=".\LICENSE.OpenSSL.txt"
              KeyPath="yes" />
      </Component>
      <!-- set environmental variable -->
      <Component Id="SetEnv_CORMANLISP_HOME"
                 Guid="*"
                 Win64="$(var.Win64)">
        <Environment Id="Env_CORMANLISP_HOME"
                     Name="CORMANLISP_HOME"
                     Value="[INSTALLDIR]"
                     Action="set"
                     System="yes" />
        <RegistryValue Action="write"
                       Type="integer"
                       Root="HKLM"
                       Key="Software\$(var.ManufacturerName)\$(var.ProductName)"
                       Name="EnvCreatedCORMANLISP_HOME"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <!-- Product Base description -->
    <ComponentGroup Id="ProductBase">
      <ComponentRef Id="cmp_CormanLisp.exe" />
      <ComponentRef Id="cmp_clconsole.exe" />
      <ComponentRef Id="cmp_CormanLisp.img" />
      <ComponentRef Id="cmp_CormanLispServer.dll" />
      <ComponentRef Id="cmp_clconsoleapp.exe" />
      <ComponentRef Id="cmp_clboot.exe" />
      <ComponentRef Id="cmp_clbootapp.exe" />
      <ComponentRef Id="cmp_dlltemplate.dll" />
      <ComponentRef Id="cmp_init.lisp" />
      <ComponentRef Id="cmp_LICENSE.txt" />
      <ComponentRef Id="cmp_DiStormLicense" />
      
      <ComponentRef Id="cmp_RDNZL.dll" />
      <ComponentRef Id="cmp_libssl_1_1.dll" />
      <ComponentRef Id="cmp_libcrypto_1_1.dll" />
      <ComponentRef Id="cmp_LICENSE.OpenSSL.txt" />
    </ComponentGroup>
  </Fragment>
</Wix>

