<?xml version="1.0" encoding="utf-8"?>
<!--
Created by Artem Boldariev <artem.boldarev@gmail.com>, 2018.
This file is distributed under the terms of CC0 license (Public Domain).

See the 'LICENSE.txt' file for the additional details.
-->
<?include Config.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <!-- debug data files -->
      <Component Id="cmp_CormanLispServer.lib"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="CormanLispServer.lib"
              Source=".\CormanLispServer\bin\CormanLispServer.lib"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_CormanLispServer.exp"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="CormanLispServer.exp"
              Source=".\CormanLispServer\bin\CormanLispServer.exp"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="CormanLispServerLib">
      <ComponentRef Id="cmp_CormanLispServer.lib" />
      <ComponentRef Id="cmp_CormanLispServer.exp" />
    </ComponentGroup>
  </Fragment>
</Wix>
