<?xml version="1.0" encoding="utf-8"?>
<!--
Created by Artem Boldariev <artem.boldarev@gmail.com>, 2018.
This file is distributed under the terms of CC0 license (Public Domain).

See the 'LICENSE.txt' file for the additional details.
-->
<?include Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <!-- debug data files -->
      <Component Id="cmp_clboot.pdb"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="clboot.pdb"
              Source=".\clboot.pdb"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_clbootapp.pdb"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="clbootapp.pdb"
              Source=".\clbootapp.pdb"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_clconsole.pdb"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="clconsole.pdb"
              Source=".\clconsole.pdb"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_clconsoleapp.pdb"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="clconsoleapp.pdb"
              Source=".\clconsoleapp.pdb"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_CormanLisp.pdb"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="CormanLisp.pdb"
              Source=".\CormanLisp.pdb"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_CormanLispServer.pdb"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="CormanLispServer.pdb"
              Source=".\CormanLispServer.pdb"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_dlltemplate.pdb"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="dlltemplate.pdb"
              Source=".\dlltemplate.pdb"
              KeyPath="yes" />
      </Component>
      <!-- OpenSSL -->
      <Component Id="cmp_libssl_1_1.pdb"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="libssl_1_1.pdb"
              Source=".\libssl-1_1.pdb"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_libcrypto_1_1.pdb"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="libcrypto_1_1.pdb"
              Source=".\libcrypto-1_1.pdb"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="DebugDataFiles">
      <ComponentRef Id="cmp_clboot.pdb" />
      <ComponentRef Id="cmp_clbootapp.pdb" />
      <ComponentRef Id="cmp_clconsole.pdb" />
      <ComponentRef Id="cmp_clconsoleapp.pdb" />
      <ComponentRef Id="cmp_CormanLisp.pdb" />
      <ComponentRef Id="cmp_CormanLispServer.pdb" />
      <ComponentRef Id="cmp_dlltemplate.pdb" />
      <ComponentRef Id="cmp_libssl_1_1.pdb" />
      <ComponentRef Id="cmp_libcrypto_1_1.pdb" />
    </ComponentGroup>
  </Fragment>
</Wix>
