<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Config.wxi?>
  <Fragment>
    <!-- features description -->
    <Feature Id="ProductCore"
             ConfigurableDirectory="INSTALLDIR"
             Title="$(var.ProductName)"
             Display="expand"
             Absent="disallow"
             Level="1">
      <ComponentGroupRef Id="ProductBase" Primary="yes" />
      <ComponentGroupRef Id="DocDir" />
      <ComponentGroupRef Id="SysDir" />
      <ComponentGroupRef Id="LibrariesDir" />
      <ComponentGroupRef Id="ModulesDir" />
      <Feature Id="StartMenuShortcuts"
               Title="Start Menu shortcuts">
        <ComponentGroupRef Id="ProductStartMenuShortcuts"/>
      </Feature>
      <Feature Id="DesktopShortcuts"
               Title="Desktop shortcuts">
        <ComponentGroupRef Id="ProductDesktopShortcuts"/>
      </Feature>
      <Feature Id="SetCORMANLISP_HOME"
               Title="Set 'CORMANLISP_HOME' environmental variable">
        <ComponentRef Id="SetEnv_CORMANLISP_HOME"/>
      </Feature>
      <Feature Id="SetPATH"
               Title="Add to 'Path'">
        <ComponentRef Id="AddProductToPath" />
      </Feature>
      <Feature Id="CormanLispServerDev" Title="COM-server C++ headers and libraries">
        <ComponentGroupRef Id="HeadersDir" />
        <ComponentGroupRef Id="CormanLispServerLib" />
      </Feature>
      <Feature Id="CormanLispExamples" Title="Examples">
        <ComponentGroupRef Id="ExamplesDir" />
      </Feature>
      <Feature Id="HyperSpecFiles" Title="HyperSpec">
        <ComponentGroupRef Id="HyperSpecLegaleseFiles" />
        <ComponentGroupRef Id="HyperSpecDir" />
      </Feature>
      <Feature Id="CormanLispDebugData" Title="Debug data files (*.PDB)">
        <ComponentGroupRef Id="DebugDataFiles" />
      </Feature>
      <!-- VC++ redistributable -->
      <?ifdef VCRedist ?>
      <Feature Id="VCRedistInstall"
               Title="Visual C++ Runtime (Version: $(var.VCRedist))">
        <MergeRef Id="VCRedist_CRT" />
        <?if $(var.VCRedist_MFC) = "yes" ?>
        <MergeRef Id="VCRedist_MFC" />
        <MergeRef Id="VCRedist_MFCLOC" />
        <?endif?>
        <?if $(var.VCRedist_OpenMP) = "yes" ?>
        <MergeRef Id="VCRedist_OpenMP" />
        <?endif?>
        <?if $(var.VCRedist_CXXAMP) = "yes" ?>
        <MergeRef Id="VCRedist_CXXAMP" />
        <?endif?>
      </Feature>
      <?endif?>
    </Feature>

    <!-- Product features -->
    <FeatureGroup Id="ProductFeatures">
      <FeatureRef Id="ProductCore" />
    </FeatureGroup>
  </Fragment>
</Wix>
