<?xml version="1.0" encoding="utf-8"?>
<!--
Created by Artem Boldariev <artem.boldarev@gmail.com>, 2018.
This file is distributed under the terms of CC0 license (Public Domain).

See the 'LICENSE.txt' file for the additional details.
-->
<?include Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="cmp_HyperSpecLegalese.text"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="HyperSpecLegalese.text"
              Source=".\HyperSpec-Legalese.text"
              KeyPath="yes" />
      </Component>
      <Component Id="cmp_HyperSpecREADME.text"
                 Win64="$(var.Win64)"
                 Guid="*">
        <File Id="HyperSpecREADME.text"
              Source=".\HyperSpec-README.text"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="HyperSpecLegaleseFiles">
      <ComponentRef Id="cmp_HyperSpecLegalese.text" />
      <ComponentRef Id="cmp_HyperSpecREADME.text" />
    </ComponentGroup>
  </Fragment>
</Wix>

